{% set title= "A propos" %}
{% extends 'page-blank.html' %} 
{% block content %}
    <div class="row">
        <div class="col-lg-12 portlet" >
            <div class="col-lg-2">&nbsp;</div>
            <div class="col-lg-8 portlet-body">
                <div class="note note-danger"><h4 class="block-heading"><span style="text-transform: capitalize;">{{ siteTitle }} : {{package.name}}</span> v{{package.version}}</h4>
                    <p style="text-align:center">
                        {{package.description}}
                        <img style="float: right;width: 64px;height: 64px;" src="/img/alpha.png">
                    </p>
                    <center> <strong>Author</strong> : <a  target="_blank" href="http://github.com/badlee">Badlee</a> | <strong>Sources</strong> : <a target="_blank" href="http://github.com/badlee/scriptbox.git">Github</a> | <strong>Bug and issues</strong> : <a target="_blank" href="https://github.com/badlee/scriptbox/issues">Github</a></center>
                </div>
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <center><strong>Important!</strong> This is an alpha version.</center>
                </div>
            </div>
        </div>
    </div>
    <div class="row mbxxl">
                    <div class="col-md-12">
                        <div class="pricing-table pricing-static">
                            <div class="plan active"><h3>Community</h3>

                                <div class="price-box">
                                    <div class="price-number">FREE</div>
                                </div>
                                <ul class="list-unstyled">
                                    <li><p>OshiminLabs Support</p><span>Via github</span></li>
                                    <li><p>Plugin System</p><span>No</span></li>
                                    <li><p>Advencend Configuration</p><span>No</span></li>
                                    <li><p>Multi-Connector</p><span>No</span></li>
                                    <li><p>Multi-database</p><span>Yes</span></li>
                                    <li><p>Multi-language</p><span>No</span></li>
                                    <li><p>Capacity</p><span>~1000sms/s</span></li>
                                    <li><p>SMS Support</p><span>Text</span></li>
                                    <li><p>Language Support</p><span>Javascript<br/> CoffeScript</span></li>
                                    <li style="font-size: 10px;">
                                        &nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>
                                        &nbsp;<br/>&nbsp;<br/>
                                    </li>
                                </ul></div>
                            <div class="plan"><h3>Professional</h3>

                                <div class="price-box">
                                    <div class="price-number">$50/<span>m</span></div>
                                </div>
                                <ul class="list-unstyled">
                                    <li><p>OshiminLabs Support</p><span>30h</span></li>
                                    <li><p>Plugin System</p><span>Yes</span></li>
                                    <li><p>Advencend Configuration</p><span>Yes</span></li>
                                    <li><p>Multi-Connector</p><span>No</span></li>
                                    <li><p>Multi-database</p><span>Yes</span></li>
                                    <li><p>Multi-language</p><span>Yes</span></li>
                                    <li><p>Capacity</p><span>~1000sms/s</span></li>
                                    <li><p>SMS Support</p><span>Long<br/>Text<br/>Flash</span></li>
                                    <li><p>Language Support</p><span style="font-size: 19px;">Javascript<br/> CoffeScript</span></li>
                                    <li style="height: 56px;"></li>
                                </ul>
                                </div>
                            <div class="plan"><h3>Premium</h3>

                                <div class="price-box">
                                    <div class="price-number">$70/<span>m</span></div>
                                </div>
                                <ul class="list-unstyled">
                                    <li><p>OshiminLabs Support</p><span>72h</span></li>
                                    <li><p>Plugin System</p><span>Yes</span></li>
                                    <li><p>Advencend Configuration</p><span>Yes</span></li>
                                    <li><p>Multi-Connector</p><span>Yes</span></li>
                                    <li><p>Multi-database</p><span>Yes</span></li>
                                    <li><p>Multi-language</p><span>Yes</span></li>
                                    <li><p>Capacity</p><span style="font-size: 13px;">Depend of Connector<br/><br/></span></li>
                                    <li><p>SMS Support</p><span>Long<br/>Text<br/>Flash<br/>Unicode</span></li>
                                    <li><p>Language Support</p><span style="font-size: 13px;">Javascript<br/> CoffeScript<br/>TypeScript</span></li>
                                    <li style="height: 20px;"></li>
                                </ul></div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block js %}
{% endblock %}